.jumbotron{
   background-color:#CD2626;
   color:#FFA500;
 }

 .fundo{
  width: 2000px;
  height: 450px;
  color:#CD2626;
 }
 p{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 15px;
 }
 h1{
   font-family: 'Cinzel Decorative', cursive;
   font-size: 200px;
 }
 h2{
   font-family: 'Cinzel Decorative', cursive;
   font-size: 49px;
 }
s{
  font-family: 'Mate SC', serif;
  font-size: 10px;
}
