body{
  height: 100%;
}

ul li{
  list-style: none;

}

ul li a {
  width: 10%;
  height: 10%;
  text-align: center;
  margin: 0 10px;
  font-size: 160%;
  overflow: hidden;
}

ul li a .fa{
  color: #fbfcfd;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e2e3e6;
}

nav{
  position: fixed;
  right: 0%;
  top:2%;
}
 
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.mount {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

#Position1 {
  position: static;
  top:  0%;
  left: 0%;
  z-index: 1;
}
#Position2 {
  position: fixed;
  top: 12%;
  z-index: 2;
}

.about {
  position: static;
  top: 0%;
  max-width: 100%;
  background-color: #ff6600;
  z-index: 3;
  padding: 12%;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  object-fit: contain;
}

h1{
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 6%;
}

h2{
  text-align: center;
  margin-bottom: 6%;
  color:  #FFFFE0;

}

p{
  text-align: justify;
  margin-bottom: 6%;
}

.project{
  position: static;
  top: 0%;
  max-width: 100%;
  background-color: #B22222;
  z-index: 3;
  padding: 12%;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  object-fit: contain;
}

.contacts{
  position: static;
  max-width: 100%;
  background-color: #2F4F4F;
  z-index: 3;
  padding: 2%;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  object-fit: contain;
}

.contacts_icons{
  position: static;
  max-width: 100%;
  min-height: 25vh;
  background-color: #2F4F4F;
  z-index: 2;
}

@media(max-width:639px){
  ul{
    display: flex;
    top: 80vw;
    left: 19vh;
    position: absolute;
  }

  .collapse{
    top: 93vw;
    left: 15vh;
    position: absolute;
    z-index: 2;
  }
  .collapsing{
    top: 93vw;
    left: 15vh;
    position: absolute;
    z-index: 2;
  }
}
@media(min-width:640px){
  ul{
    display: flex;
    top: 38vw;
    right: 19vh;
    position: absolute;
  }
  .collapse{
    top: 43vw;
    right: 19vh;
    position: absolute;
    z-index: 2;
  }
  .collapsing{
    top: 43vw;
    right: 19vh;
    position: absolute;
    z-index: 2;
  }
}

